
/* ============================================= */
/*              Images                           */
/* ============================================= */
    
a {
    border: 0 transparent;
    
    & img {
        width: $width;
        height: $height;
    }

    &:focus,
    &:hover {
        border: 4px solid $skyblue;
        outline: 0;
    }
}