
/* ============================================= */
/*              Search                           */
/* ============================================= */

input {
    grid-column: span 3;
    width: 100%;
    padding: .8rem;
    border-radius: 5px;
}

#searchfield {
    border: 2px solid $grey-light;
    color: $grey;

    &:focus,
    &:hover {
        border: 2px solid $skyblue;
        transition: border .4s ease-in-out;
        outline: 0;
    }
}