
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    @include margins($top: 0, $right: auto, $bottom: 0, $left: auto);
    font-family: $font-family-stack;
    font-weight: bold;
}